@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-offset: -3px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #212121;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 숨긴 콘텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 9999;
}
.header .header-top {
  position: relative;
  height: 100px;
}
.header .header-top .logo {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .header-menu {
  width: 100%;
  height: 70px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}
.header .header-menu .menu-bar {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.header .header-menu .banner {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.header .header-menu .banner-title {
  position: relative;
  width: 100%;
  height: 100%;
}
.header .header-menu .banner-title > a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 20px;
  font-weight: 600;
}
.header .header-menu .banner-title > a:hover, .header .header-menu .banner-title > a:focus {
  border-top: 3px solid #6495ed;
  outline: none;
}
.header .header-menu .banner-title:hover .banner-depth {
  display: block;
}
.header .header-menu .banner-depth {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #aaa;
  line-height: 1.5;
}
.header .header-menu .banner-depth a {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}
.header .header-menu .banner-depth a:hover, .header .header-menu .banner-depth a:focus {
  color: #6495ed;
  outline: none;
}
.header .header-menu .search-btn {
  width: 40px;
  height: 40px;
  border: 0;
  padding: 40px 0 0;
  overflow: hidden;
  background: url(/images/search.svg) no-repeat center;
  cursor: pointer;
}

@keyframes textEffect {
  0% {
    font-size: 12px;
    color: #fff;
    top: 0;
    left: 0;
  }
  100% {
    font-size: 36px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.main {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 160px;
}
.main .main-text {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  animation: textEffect 2s forwards;
}
.main .main-bg {
  height: 100%;
  background: linear-gradient(to bottom right, #6495ed, #8fbc8b, #6495ed);
}
.main .main-img {
  height: 100%;
}
.main .main-tabs {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #767676;
}
.main .main-tabs .tab-list {
  font-size: 0;
  white-space: nowrap;
}
.main .main-tabs .tab-list li {
  display: inline-block;
  width: 260px;
  font-size: 22px;
  text-align: center;
  border-left: 1px solid #c4c4c4;
}
.main .main-tabs .tab-list li:last-child {
  border-right: 1px solid #c4c4c4;
}
.main .main-tabs .tab-list a {
  display: block;
  width: 100%;
  padding: 20px 0;
  color: #fff;
}
.main .main-tabs .tab-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.info {
  height: 100%;
}
.info .info-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.info .info-items .in {
  position: relative;
  width: 20%;
  height: 400px;
  background: linear-gradient(to bottom right, #6495ed, #8fbc8b, #6495ed);
}
.info .info-items .in a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  color: #fff;
}
.info .info-items .in a .item-title {
  font-size: 28px;
  font-weight: 700;
}
.info .info-items .in a .item-text {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  line-height: 1.5;
}
.info .info-items .in a::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  right: 25px;
  bottom: 25px;
  background: url(/images/add_circle.svg) no-repeat;
}
.info .info-items .in a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.notice-area {
  padding: 90px 0;
  background-color: #eee;
}
.notice-area .notice-items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row wrap;
}
.notice-area .nt {
  width: 22%;
}
.notice-area .nt .notice-list li {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.notice-area .nt .notice-list li:last-child {
  border: 0;
}
.notice-area .nt .notice-list li .list-category {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #fff;
}
.notice-area .nt .notice-list li .list-category.news {
  background-color: #ff8c00;
}
.notice-area .nt .notice-list li .list-category.board {
  background-color: #006400;
}
.notice-area .nt .notice-list li .list-category.media {
  background-color: #6863d4;
}
.notice-area .nt .notice-list li .list-category.bid {
  background-color: #b8860b;
}
.notice-area .nt .notice-list li a {
  position: relative;
  display: block;
}
.notice-area .nt .notice-list li a:hover p {
  text-decoration: underline;
}
.notice-area .nt .notice-list li a .notice-name {
  font-size: 18px;
  font-weight: 600;
}
.notice-area .nt .notice-list li a .notice-name.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-area .nt .notice-list li a .notice-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-height: 80px;
  margin: 10px 0 20px;
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa;
}
.notice-area .nt .notice-list li a .notice-date {
  color: #aaa;
}
.notice-area .nt .notice-list li a .notice-hp {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 7px;
  border: 1px solid #6495ed;
  border-radius: 20px;
  color: #6495ed;
}

.history {
  background: linear-gradient(to bottom right, #6495ed, #8fbc8b, #6495ed);
}
.history .history-area {
  position: relative;
  padding: 90px 0;
}
.history .history-area .history-title {
  color: #fff;
}
.history .history-area .history-items {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 0 auto;
}
.history .history-area .history-items .hs {
  width: 16%;
}
.history .history-area .history-items .history-list a {
  text-align: center;
}
.history .history-area .history-items .img-area {
  height: 220px;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to bottom right, #6495ed, #8fbc8b, #6495ed);
}
.history .history-area .history-items .img-text {
  padding: 30px 10px;
  line-height: 1.5;
}
.history .history-area .history-items .img-text .hs-img-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.history .history-area .slide-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.history .history-area .slide-btn .btn {
  position: relative;
  width: 45px;
  height: 45px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  background-color: #e7e7e7;
  cursor: pointer;
}
.history .history-area .slide-btn .btn::before {
  content: "";
  position: absolute;
  left: 55%;
  width: 15px;
  height: 15px;
  border-top: 3px solid #4e4e4e;
  border-left: 3px solid #4e4e4e;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.history .history-area .slide-btn .btn-next.btn::before {
  content: "";
  transform: translate(-50%, -50%) rotate(135deg);
  left: 45%;
}
.history .history-area .slide-btn .btn-prev {
  margin-right: 10px;
}
.history .history-area .slide-btn .btn-next {
  margin-left: 10px;
}

.menu-link {
  padding: 90px 0;
  background-color: #eee;
}
.menu-link .link-title {
  color: #008080;
}
.menu-link .link-tab {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.menu-link .link-tab li {
  width: 25%;
  margin-bottom: 25px;
  text-align: center;
  border-right: 1px solid #008080;
}
.menu-link .link-tab li:first-child, .menu-link .link-tab li:nth-child(5) {
  border-left: 1px solid #008080;
}
.menu-link .link-tab span {
  display: block;
  height: 40px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #008080;
}
.menu-link .link-tab span:hover {
  font-size: 26px;
  font-weight: 700;
}

.footer {
  background-color: #3a3d44;
}
.footer .footer-top {
  position: relative;
}
.footer .footer-top .footer-sns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 10px;
  padding: 10px 0;
}
.footer .footer-top .footer-sns .instagram {
  border-radius: 50%;
  background: linear-gradient(170deg, #0000ff, #800080, #ff0000, #ffff00);
}
.footer .footer-top .family-btn {
  position: absolute;
  width: 20%;
  top: 50%;
  right: 0px;
  padding: 10px 0;
  font-size: 18px;
  transform: translateY(-50%);
  border: 1px solid #fff;
  background-color: #3a3d44;
  color: #fff;
}
.footer .footer-bottom-area {
  border-top: 1px solid #fff;
  color: #fff;
}
.footer .footer-bottom-area .footer-bottom {
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.6;
}
.footer .footer-bottom-area .guide-list {
  display: flex;
}
.footer .footer-bottom-area .guide-list li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  background-color: #fff;
}
.footer .footer-bottom-area .guide-list li:last-child::after {
  content: none;
}
.footer .footer-bottom-area .address,
.footer .footer-bottom-area .copyright {
  font-style: normal;
}

.inner {
  width: 1300px;
  margin: 0 auto;
}

.title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.item {
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
}

/*# sourceMappingURL=main.css.map */
