.menu-link {
  padding: 90px 0;
  color: $color-navy;
  background-color: $color-dark1-white;

  .link-tab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    li {
      width: 25%;
      margin-bottom: 25px;
      text-align: center;
      border-right: 1px solid $color-navy;

      &:first-child,
      &:nth-child(5) {
        border-left: 1px solid $color-navy;
      }
    }

    span {
      display: block;
      height: 40px;
      margin-top: 10px;
      font-size: 20px;
      font-weight: 500;
      &:hover {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
