$color-base: #212121;
$color-light-black: #3a3d44;
$color-gray: #767676;
$color-drak-gray: #4e4e4e;
$color-light1-gray: #aaa;
$color-light2-gray: #c4c4c4;
$color-light3-gray: #ccc;
$color-white: #fff;
$color-dark1-white: #eee;
$color-dark2-white: #e7e7e7;
$color-navy: #122f75;
$color-blue: #0000ff;
$color-light-blue: #6495ed;
$color-purple: #800080;
$color-light-purple: #6863d4;
$color-dark-green: #006400;
$color-teal: #008080;
$color-light-green: #8fbc8b;
$color-red: #ff0000;
$color-orange: #ff8c00;
$color-yellow: #ffff00;
$color-dark-beige: #b8860b;
$color-light-rgba: rgba(255, 255, 255, 0.3);
$color-rgba: rgba(255, 255, 255, 0.1);
